{% extends "global/base.html" %}
{% block title %}Control | {% endblock title %}
{% block sidebar %}
    {% include "partials/menu.html" %}
{% endblock sidebar %}
{% block page_title %}
    {% block sub_page_title %}Painel de Controle{% endblock sub_page_title %}
{% endblock page_title %}
{% block content %}
    {% block sub_content %}
    <div class="card mb-3 col-4">
        <div class="card-body">
            <h5 class="card-title">Visão Geral</h5>
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Total de Equipamentos</div>
                        
                    </div>
                    <span class="badge text-bg-primary rounded-pill">{{ counts.total }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Em Uso</div>
                        
                    </div>
                    <span class="badge text-bg-success rounded-pill">{{ counts.em_uso }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Ociosos</div>
                        
                    </div>
                    <span class="badge text-bg-warning rounded-pill">{{ counts.ociosos }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Em Manutenção</div>
                        
                    </div>
                    <span class="badge text-bg-danger rounded-pill">{{ counts.manutencao }}</span>
                </li>
            </ol>
        </div>
    </div>
    
    
    {% endblock sub_content %}
{% endblock content %}